/* СТИЛИ ИНДЕКСА */
@import url('https://fonts.googleapis.com/css2?family=PT+Astra+Sans&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Занимает всю высоту окна */
}

body {
    font-family: 'PT Astra Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EBE6D6;
    overflow-x: hidden;
}

.header {
    margin-top: 0px;
    min-height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}


.header, .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #163E6C;
    color: #EBE6D6;
    box-sizing: border-box;
}

.header div, .footer div {
    flex: 1;
    text-align: center;
}

.header div:first-child, .footer div:first-child {
    text-align: left;
}
.header div:last-child, .footer div:last-child {
    text-align: right;
}

.container {
    flex: 1;
    width: 100%;
    margin-top: 75px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    box-sizing: border-box;
}

.content {
    border: 1px solid #163E6C;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #EBE6D6;
    border-radius: 8px;
    box-sizing: border-box;
}

.search-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.search-section label {
    margin-bottom: 5px;
}

.search-section input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #163E6C;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-section button {
    padding: 10px;
    background-color: #D20A11;
    color: #EBE6D6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.search-section button:hover {
    background-color: #a50a0d;
}

.result-section {
    padding: 10px;
    box-sizing: border-box;
}

.main-panel {
    border: 1px solid #163E6C;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #EBE6D6;
    border-radius: 8px;
    box-sizing: border-box;
}

.main-panel .section {
    border: 1px solid #163E6C;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
}

.main-panel .section.small {
    padding: 5px;
    border: none;
    text-align: center;
}

.details-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-sizing: border-box;
}

.details-table, .details-table th, .details-table td {
    border: 1px solid #163E6C;
}

.details-table th, .details-table td {
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #163E6C;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #163E6C;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #D20A11;
    color: #EBE6D6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.form-group button:hover {
    background-color: #a50a0d;
}

.description-cell {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
}


/* СТИЛИ MAINA */

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.tabs button {
    padding: 10px;
    background-color: #163E6C;
    color: #EBE6D6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.tabs button:hover {
    background-color: #0f2a4a;
}

.result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    box-sizing: border-box;
}

.result-table, .result-table th, .result-table td {
    border: 1px solid #163E6C;
}

.result-table th, .result-table td {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

 /* СТИЛИ ABOUT_MACHINE */

.main-panel .section.small {
    padding: 5px;
    flex: 0 1 48%;
}

.main-panel .section.inline {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: none;
    background-color: transparent;
}

@media (min-width: 600px) {
    .search-section {
        flex-direction: row;
        align-items: center;
    }
    .search-section input {
        flex: 1;
        margin-right: 10px;
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    .header, .footer {
        flex-direction: column;
        text-align: center;
    }
    .header div:first-child, .footer div:first-child, .header div:last-child, .footer div:last-child {
        text-align: center;
    }
    .header div, .footer div {
        text-align: center;
    }
    .search-section {
        flex-direction: column;
    }

    .search-section input {
        margin-right: 0;
        margin-bottom: 10px;
        padding: 15px;
        font-size: 16px;
    }

    .search-section button {
        padding: 15px;
        font-size: 16px;
    }

    .details-table, .details-table th, .details-table td {
        display: block;
        width: 100%;
   }

    .details-table td {
        border-bottom: 1px solid #163E6C !important;
    }

    .details-table th, .details-table td {
        text-align: left;
        padding: 10px;
        border: none;
    }

    .details-table th:last-child, .details-table td:last-child {
        border-bottom: none;
    }
    .tabs {
        flex-direction: column;
    }
    .tabs button {
        margin: 5px 0;
        width: 100%;
    }
    .main-panel .section.inline {
        flex-direction: column;
    }
}